
on early-init
    mkdir /firmware 0771 system system
    mkdir /tombstones

on init
    # for modem partition
    symlink /dev/block/mmcblk0p10 /dev/mbin0

on post-fs-data
    # Waketime for fast dormancy
    chown system radio /sys/devices/platform/mdm_hsic_pm0/waketime
    chmod 0660 /sys/devices/platform/mdm_hsic_pm0/waketime

on fs
    #MDM requirement
    mkdir /dev/block/modem
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs1 /dev/block/modem/m9kefs1
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs2 /dev/block/modem/m9kefs2
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs3 /dev/block/modem/m9kefs3
    symlink /dev/block/platform/dw_mmc/by-name/ /dev/block/modem/dump_path
    chown system radio /dev/block/modem/m9kefs1
    chmod 0775 /dev/block/modem/m9kefs1
    chown system radio /dev/block/modem/m9kefs2
    chmod 0775 /dev/block/modem/m9kefs2
    chown system radio /dev/block/modem/m9kefs3
    chmod 0775 /dev/block/modem/m9kefs3
    chown system radio /dev/block/modem/dump_path
    chmod 0775 /dev/block/modem/dump_path

    # mkdir /firmware 0771 system system
    # mount vfat /dev/block/mmcblk0p13 /firmware ro shortname=lower fmask=0133,dmask=0022
    # mkdir /tombstones
    # mount ext4 /dev/block/mmcblk0p14 /tombstones nosuid nodev noatime noauto_da_alloc discard journal_async_commit errors=panic
    chown system system /tombstones
    chmod 0775 /tombstones
    mkdir /tombstones/modem 0775 system system
    mkdir /tombstones/lpass 0775 system system
    mkdir /tombstones/wcnss 0775 system system
    mkdir /tombstones/dsps 0775 system system
    rmdir /tombstones/qcks
    mkdir /tombstones/qcks 771 system system
    rmdir /tombstones/efs
    mkdir /tombstones/efs 771 system system

    chown system radio /dev/block/platform/dw_mmc/by-name
    chmod 0775 /dev/block/platform/dw_mmc/by-name

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

service qc_kickstart /system/bin/qcks s
    class core
    user root
    group radio cache inet misc audio sdcard_rw log

# AT Distributor for factory test
service at_distributor /system/bin/at_distributor
    class late_start
    user root
    group radio misc log

# diag app for cp uart
service diag_uart_log /system/bin/diag_uart_log
    class main
    user root
    group radio

service netmgrd /system/bin/netmgrd
    class late_start

service secril-daemon /system/bin/sec-ril
    class main
    user root
    group radio cache inet misc audio sdcard_rw diag log

#For EncryptionMode - remove disabled, Modify class main
service qmiproxy /system/bin/qmiproxy
    class main
    user radio
    group radio gps

service qmuxd /system/bin/qmuxd
    class main
    user root
    group radio log audio bluetooth gps log

on property:ro.use_data_netmgrd=false
#netmgr not supported on specific target
    stop netmgrd
